<!DOCTYPE html>
<html>
<head>
  <title>Geocities</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div style="position:relative;width:267px;height:25px;overflow:hidden;">
    <div style="position:absolute;top:-276px;left:-5px">
      <iframe width="300" height="300"
        src="https://www.youtube.com/embed/J9FImc2LOr8?autoplay=1">
      </iframe>
    </div>
  </div>

<%= yield %>

</body>
</html>
